<div class="footer">
	<section class="site-meta">
		<ul class="social-related">
			<li><strong>Social&amp;Related:</strong></li>
			<li>
				<a href="https://x.com/ko_hidekichi" alt="Xのプロフィールページ" title="Xのプロフィールページ">
					<svg class="footer_icon-x" role="img" width="16px" height="16px">
						<use href="#icon-x" />
					</svg>
				</a>
			</li>
			<li>
				<a href="https://blazechariot.blogspot.com/" alt="bloggerのギターを弾き語れ！(仮)へのリンク。Suspended" title="bloggerのギターを弾き語れ！(仮)へのリンク。Suspended">
				<svg class="footer_icon-blogger" role="img" width="16px" height="16px">
					<use href="#icon-blogger" />
				</svg>
				</a>
			</li>
		</ul>
		<div class="credit">
			BlazeChariot © 2025 Hidekichi
		</div>
		<div class="feedMeta flex gap-x-[0.5rem]">
			<a href="/feed.xml" title="Feed" alt="feed link" title="ATOM">
				<svg class="footer_feed" role="img" width="16px" height="16px">
					<use href="#feed"/>
				</svg>
			</a>
			<a href="{{ site.url }}/sitemap.xml" alt="sitemap link" title="sitemap">
				<svg class="footer_sitemap" role="img" width="16px" height="16px">
					<use href="#sitemap"/>
				</svg>
			</a>
		</div>
	</section>
</div>