<div class="backdrop inset-0 hidden"></div>
<div class="sidebar">
	<button class="panel-switch block -translate-8 lg:hidden group inline-flex w-8 h-8 text-slate-800 bg-white text-center items-center justify-center rounded shadow-[0_1px_0_theme(colors.slate.950/.04),0_1px_2px_theme(colors.slate.950/.12),inset_0_-2px_0_theme(colors.slate.950/.04)] hover:shadow-[0_1px_0_theme(colors.slate.950/.04),0_4px_8px_theme(colors.slate.950/.12),inset_0_-2px_0_theme(colors.slate.950/.04)] transition" aria-expanded="false">
		<span class="sr-only">Menu</span>
		<svg class="w-6 h-6 fill-current pointer-events-none" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
			<rect class="origin-center -translate-y-[5px] translate-x-[7px] transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.1)] group-[[aria-expanded=true]]:translate-x-0 group-[[aria-expanded=true]]:translate-y-0 group-[[aria-expanded=true]]:rotate-[315deg]" y="7" width="9" height="2" rx="1"></rect>
			<rect class="origin-center transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.8)] group-[[aria-expanded=true]]:rotate-45" y="7" width="16" height="2" rx="1"></rect>
			<rect class="origin-center translate-y-[5px] transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.1)] group-[[aria-expanded=true]]:translate-y-0 group-[[aria-expanded=true]]:-rotate-[225deg]" y="7" width="9" height="2" rx="1"></rect>
		</svg>
	</button>

	<section class="tocThumb">
		<div id="toc" class="toc">
			<div class="toc_sitetitle flex flex-col border-l-[4px] pl-[6px]" title="ページトップへ移動">
				<span class="text-[11.8px]">[ backtop-site-title: ]</span>
				<span class="text-base leading-[1.2]">{{ title | safe }}</span>
			</div>
			<div class="toc_menu"></div>
		</div>

		{% if images.length > 0 %}
			<div class="thumbnails">
				<h5>Thumbnails</h5>
				{%- for image in images -%}
				<div class="thumb" data-image="{{ image | slugify }}">
					<img src="{{ image }}" alt="参照画像" />
				</div>
				{%- endfor -%}
			</div>
		{% else %}
			<div class="thumbnails">
				<h5>Thumbnails</h5>
				<p>No images are used in this article</p>
			</div>
		{% endif %}
	</section>
</div>

