

<ul class="sns-share">
    {%- set pageUrl = site.url + page.url | url -%}
    {%- set pageTitle = title | urlencode -%}

    {%- for platform, baseUrl in sns -%}
    <li class="{{ platform }}">
        <a href="{{ baseUrl.url }}{{ pageUrl }}{% if platform == 'twitter' %}&text={{ pageTitle }}{% elseif platform == 'facebook' %}{% else %}&title={{ pageTitle }}{% endif %}"
         {% if platform == 'raindrop' %}title="Pocketサ終で {{ platform }} 変更"
          {% else %}title="{{ platform }}共有ボタン"
         {% endif %}
         aria-label="{{ platform }}共有ボタン"
         target="_blank"
         rel="noopener noreferrer">
        {{ baseUrl.icon | safe }}
        </a>
    </li>
    {%- endfor -%}
    <div class="block text-center w-full mt-4 text-sm text-amber-300 leading-4"><a href="https://raindrop.io/" title="Raindrop.ioは無料でも使用できますが要登録">Raindrop.ioへはこちらから</a></div>
</ul>
