---
layout: page.njk
title: 記事一覧 - General Articles
description: 一般的な記事一覧です。一般的ではないものもあるかも知れません。
category: blog

pagination:
  data: collections.blog
  size: 10
  alias: blog
permalink: /blog{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/

sitemap:
  ignore: true
---

<h3>Now Entering Page {{ pagination.pageNumber + 1 }}</h3>
<ul class="listing">
	{% for entry in blog %}

		<li>
			<a href="{{ entry.url }}">
			<div class="title-meta">
				<span class="title">{{ symbol }} {{ entry.data.title }}</span>
				<time datetime="{{ entry.date }}">{{ entry.date | readableDate }}</time>
			</div>
			<div class="summary">
				{{ entry.data.description or entry.templateContent | striptags | truncate(100) }}
			</div>
			</a>
		</li>
	{% endfor %}
</ul>

<nav id="articleList-pagination" aria-labelledby="pagination">
  <ol class="pagination">
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}"><button class="previous">Prev</button></a>{% else %}<button class="previous text-gray-800 bg-gray-600 aria-disabled cursor-not-allowed">Prev</button>{% endif %}</li>
	<li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}"><button class="next">Next</button></a>{% else %}<button class="next text-gray-800 bg-gray-600 aria-disabled cursor-not-allowed">Next</button>{% endif %}</li>
{%- for pageEntry in pagination.pages %}
    <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
{%- endfor %}
  </ol>
</nav>