---
layout: base.njk
---

<header class="page-title">
	<h1 class="page-title__title">{{ title }}</h1>
	{% if description %}
		<h2 class="page-title__desc">{{ description }}</h2>
	{% endif %}
	{{ author }}
	{% if update %}
		<p class="mt-6"><time class="page-title__update" datetime="{{ update | shortDateString }}">{{ update | readableDate }}</time></p>
	{% endif %}
</header>
<article class="body-copy {% if category %}cat-{{ category }}{% endif %}">
	{{ content | safe }}
</article>