---
layout: base.njk
---

<header class="page-title">
	<h1 class="page-title__title mx-auto md:w-5/6">{{ title }}</h1>
	{% if description %}
		<h2 class="page-title__desc w-full md:w-2/3">{{ description }}</h2>
	{% endif %}

	<div class="header-meta">
  	<div>
  	  <span class="author">{{ site.author.name }}</span>{% if date %}｜<time class="page-title__date" datetime="{{ date }}">{{ date | readableDate }}</time> {% endif %}{% if update %} → <time class="page-title__update" datetime="{{ update }}">{{ update | readableDate }}</time>{% endif %}<br>
    </div>

    {% if tags and tags.length > 0 %}
		<div class="tags">
  		{% for tag in tags -%}
  			{% if tag !== 'posts' %}
  				<a class="tag" href="/tags/{{ tag }}/" title="{{ tag }}">{{ tag }}</a>
  			{% endif %}
  		{%- endfor %}
		</div>
		{% endif %}

	</div>
</header>
<article class="body-copy">
	{{ content | safe }}

  <div class="related">
    <h4>関連記事5件</h4>
    {% set currentTags = tags %}
    {% set related = collections.blog
      | sortByTagMatch(currentTags, page.url)
      | limit(5) %}

    {% if related.length %}
    <ul>
        {% for item in related %}
        {% set url = item.url %}
        {% set p = item.data.title %}

          <li>
            <a href="{{ item.url | url }}">{{ p }}</a>
          </li>

        {% endfor %}
    </ul>
    {% endif %}
  </div>

  {% include "sns.njk" %}

	<div class="tags">
	{% for tag in tags -%}
		{% if tag !== 'posts' %}
			<a class="tag" href="/tags/{{ tag }}/" title="{{ tag }}の記事一覧" aria-label="{{ tag }}の記事一覧">{{ tag }}</a>
		{% endif %}
	{%- endfor %}
	</div>

{% if "/guitar" in page.url %}
<section class="pageNavi">

{% set prevPost = null %}
{% set nextPost = null %}

{% for categoryKey, categoryData in gutarArticleLinks %}
  {% for item in categoryData.items %}

    {% if item.link == page.url %}

      {% set currentIndex = loop.index0 %}
      {% set currentList = categoryData.items %}

      {% if currentIndex > 0 %}
        {% set prevPost = currentList[currentIndex - 1] %}
      {% endif %}

      {% if currentIndex < currentList.length - 1 %}
        {% set nextPost = currentList[currentIndex + 1] %}
      {% endif %}

    {% endif %}
  {% endfor %}
{% endfor %}

{% if prevPost or nextPost %}
  {% if prevPost %}
  <a class="prev" href="{{ prevPost.link | url }}">
		<svg class="icon" aria-hidden="true">
			<use href="#tabler-arrow-right-from-arc" />
		</svg>
    <div>{{ prevPost.title }}</div>
  </a>
	{% else %}
		<div></div>
  {% endif %}
  {% if nextPost %}
    <a class="next" href="{{ nextPost.link | url }}">
      <div>{{ nextPost.title }}</div>
  		<svg class="icon right" aria-hidden="true">
  			<use href="#tabler-arrow-right-from-arc" />
  		</svg>
    </a>
	{% else %}
	<div></div>
      {% endif %}
{% endif %}

</section>

{% endif %}

</article>

{% include "sidebar.njk" %}
