---
layout: base.njk
---

<header class="page-title">
	<h1 class="page-title__title">{{ title }}</h1>
	{% if description %}
		<h2 class="page-title__desc">{{ description }}</h2>
	{% endif %}
	<div class="header-meta">
	{{ site.author.name }}{% if date %}｜<time class="page-title__date" datetime="{{ date }}">{{ date | readableDate }}</time> {% endif %}{% if update %} [ <time class="page-title__update" datetime="{{ update }}">{{ update | readableDate }} ]</time>{% endif %}<br>

		<div class="tags">
		{% for tag in tags -%}
			{% if tag !== 'posts' %}
				<a class="tag" href="/tags/{{ tag }}/" title="{{ tag }}">{{ tag }}</a>
			{% endif %}
		{%- endfor %}
		</div>
	</div>
</header>
<article class="body-copy">
	{{ content | safe }}
	
	{% include "sns.njk" %}
	
	<div class="tags">
	{% for tag in tags -%}
		{% if tag !== 'posts' %}
			<a class="tag" href="/tags/{{ tag }}/" title="{{ tag }}の記事一覧" aria-label="{{ tag }}の記事一覧">{{ tag }}</a>
		{% endif %}
	{%- endfor %}
	</div>
	
{% if 'ギターを弾き語れ！' in category %}
	{% set previousPost = collections.guitar | getPreviousCollectionItem %}
	{% set nextPost = collections.guitar | getNextCollectionItem %}
{% elif 'blog' in category %}
	{% set previousPost = collections.blog | getPreviousCollectionItem %}
	{% set nextPost = collections.blog | getNextCollectionItem %}
{% endif %}

<section class="pageNavi">
{% if previousPost %}
<a class="prev" href="{{ previousPost.url }}">
<svg class="icon" aria-hidden="true">
	<use href="#tabler-arrow-right-from-arc" />
</svg>
<div>{{ previousPost.data.title }}</div>
</a>
{% endif %}
{% if nextPost %}
<a class="next" href="{{ nextPost.url }}">
<div>{{ nextPost.data.title }}</div>
<svg class="icon right" aria-hidden="true">
	<use href="#tabler-arrow-right-from-arc" />
</svg>
</a>
{% endif %}
</section>
</article>


{% include "sidebar.njk" %}
