@import "./uaplus.css";
@import "./syntax.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	color: #3b82f6;
	text-decoration: underline;
}

*,
:after,
:before {
	box-sizing: border-box;
}

/*
:root,
:root[data-color-scheme=light] {
	--font-color: #263542;
	--brand: #90e0ef;
	--background-color: #e9ebf9;
	--link-color: #0b8ac8;
	--muted: #aaa;
	--lightest: #efefef;
	--transparency-1: rgba(0, 0, 0, 0.05);
	--th-background: #9bb7d2;
	--tag-background: #cde;
	--share-svg-color: var(--background-color);
	--code-color: var(--font-color);
	--code-background: #262d3c30;
}

:root[data-color-scheme=dark] {
	--font-color: #e6edf0;
	--brand: #38acc1;
	--background-color: #0c1620;
	--link-color: #3bd7fb;
	--muted: #444;
	--lightest: #333;
	--transparency-1: rgba(255, 255, 255, 0.05);
	--th-background: #123;
	--tag-background: #2b3535;
	--share-svg-color: #5679a6;
	--code-color: var(--font-color);
	--code-background: #262d3c;
}
*/
:root {
	--font-color: #263542;
	--text-red: #db1b51;
	--brand: #90e0ef;
	--logo: #ff5757;
	--background-color: #e9ebf9;
	--link-color: #0b8ac8;
	--muted: #aaa;
	--lightest: #efefef;
	--transparency-1: rgba(0, 0, 0, 0.05);
	--th-background: #9bb7d2;
	--tag-background: #cde;
	--share-svg-color: var(--background-color);
	--code-color: var(--font-color);
	--code-background: #262d3c30;
}

@media (prefers-color-scheme: dark) {
	:root {
		--font-color: #ccc;
		--brand: #38acc1;
		--logo: #ff5757;
		--background-color: oklch(0.2101 0.0316 272.19); /*original 1e1e1e*/
		--link-color: #3bd7fb;
		--muted: #444;
		--lightest: #333;
		--transparency-1: rgba(255, 255, 255, 0.05);
		--th-background: #123;
		--tag-background: #2b3535;
		--share-svg-color: #5679a6;
		--code-color: var(--font-color);
		--code-background: #262d3c;
	}
}

/* typo */

:root {
	--base-size: 16px;
	--scale-ratio: 1.2;
	--body-weight: 300;
	--body-line-height: 1.7;
	--body-letter-spacing: normal;

	--heading-weight: 700;
	--heading-line-height: 1.1;
	--heading-letter-spacing: normal;
}

/* Base styles */
body {
	/* font-family: var(--body-font); */
	font-size: var(--base-size);
	line-height: var(--body-line-height);
	letter-spacing: var(--body-letter-spacing);
	/* color: var(--body-color); */
	/* background: var(--body-background); */
}

/* Type scale */
.smallest {
	font-size: 0.64rem;
}
.caption {
	font-size: 0.8rem;
}
.body {
	font-size: 1rem;
}

.body-copy {
	h1 {
		font-size: clamp(2em, 5vw, 2.5em); /* 例: 32px ～ 40px */
		line-height: 1.2;
		font-weight: bold;
	}

	h2 {
		font-size: clamp(1.6em, 4vw, 1.8em); /* 例: 25.6px ～ 32px */
		line-height: 1.25;
		margin: 6rem 0 1.75rem;
		font-weight: bold;

		&::before {
			content: "✻";
			display: inline-block;
			width: 1em;
			margin-right: 0.5rem;
		}
	}

	h3 {
		font-size: clamp(1.4em, 3.5vw, 1.6em); /* 例: 22.4px ～ 28px */
		line-height: 1.3;
	}

	/* h4, h5, h6 も同様に clamp() で設定 */
	h4 {
		font-size: clamp(1.15em, 3vw, 1.3em);
		line-height: 1.4;
		display: flex;
	}
	h5 {
		font-size: clamp(1.05em, 2.5vw, 1.15em);
		line-height: 1.5;
	}
	h6 {
		font-size: clamp(0.95em, 2vw, 1.115em); /* bodyの1remを下限にする */
		line-height: 1.55;
	}
}

/* Headings */
h6,
h5,
h4,
h3,
h2,
h1 {
	/* font-family: var(--heading-font); */
	font-weight: var(--heading-weight);
	line-height: var(--heading-line-height);
	letter-spacing: var(--heading-letter-spacing);
	/* color: var(--heading-color); */
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 100vw;
}

html {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	/* font-size: clamp(1rem,.9209rem + .3721vw,1.2rem); */
	line-height: 1.7;
	/* font-weight: 400; */
	font-family: "Reddit Sans", sans-serif;
}

body {
	display: grid;
	grid-template-areas:
		"navi  "
		"body  "
		"footer";
	grid-template-rows: auto 1fr auto;
	gap: 8px 16px;
	max-width: 1200px;
	width: 100%;
	margin-inline: auto;
}

nav.navigation {
	grid-area: navi;
	grid-column: 1 / -1;
}

main.container {
	position: relative;
	display: grid;
	grid-area: body;
	grid-column: 1 / -1;
	grid-template-rows: auto 1fr;
	grid-template-columns: 768px 1fr;
	grid-template-areas:
		"header header"
		"main   side  ";
	gap: 0 1rem;

	&:has(.listing) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		max-width: 960px;
	}

	&:has(:is(.cat-about, .cat-now)) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		max-width: 960px;
	}

	&:has(.cat-guitarContent) {
		grid-template-areas:
			"header"
			"main";
		grid-template-columns: repeat(1, minmax(0, 1fr));
		max-width: 960px;
	}
}

.guitarContent {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	column-gap: 1rem;

	:is(ul, ol) {
		li {
			line-height: 2;
		}
	}
}

main.container header.page-title {
	grid-column: 1 / -1;
}

footer {
	display: grid;
	grid-column: 1 / -1;
}

.body-copy {
	padding: 1rem;
}

.sidebar {
	border-left: 0.1rem solid #333;
	padding-left: 1rem;
	/* font-size: 16px; */
}

a,
a:visited {
	color: var(--link-color);
}

body {
	background: var(--background-color);
	color: var(--font-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.home-header {
	margin: 2rem 0;

	.home-header img {
		border-radius: 100%;
		border: solid 0.5rem var(--brand);
		width: 5rem;
		height: 5rem;
	}
}

nav .title {
	color: #fff;

	a {
		color: var(--logo);
	}
}

.page-title {
	margin: 3rem 0;
	font-size: 1rem;
	text-align: center;
	padding: 0 1rem;
}

.page-title__title {
	font-size: 2.4rem;
	line-height: 1.2;
}

.page-title__desc {
	font-weight: 400;
	font-size: 0.875rem;
	margin: 1rem auto;
	max-width: 768px;
	color: hsl(200, 100%, 78%);
	margin: 1.5rem auto 1rem;
	max-width: 50vw;
	line-height: 1.5;
	font-size: 0.875em;
	color: darkgray;
}

.page-title__date {
	&::before {
		content: "Publish";
	}
}

.page-title__update {
	&::before {
		content: "Last Modified";
	}
}

.page-title__date,
.page-title__update {
	font-size: 0.875rem;
	position: relative;

	&::before {
		position: absolute;
		font-size: 0.71875rem;
		top: -1.125rem;
		left: 0;
	}
}

.page-title:after {
	content: "";
	width: 4rem;
	display: block;
	height: 0.1rem;
	background-color: var(--transparency-1);
	margin: 1rem auto 0rem auto;
}

img {
	max-width: 100%;
	height: auto;
}

.icon_external-link {
	width: 0.7rem;
	height: 0.7rem;
	margin: 4px 4px 0 2px;
	color: var(--font-color);

	&.insert {
		display: none;
	}
}

.amazon {
	margin: 4px 0 0 2px;
	padding: 1px 2px;
	width: 1.35em;
	height: 1.2em;
	background-color: #285a8e;
	color: #fff;
	border-radius: 4px;
}

b,
strong {
	font-weight: 700;
	background-color: #203246;
	padding: 0 4px;
	color: #ffdf2f;
}

:root {
	--columns: 0;
	--rows: 5;
}

.body-copy {
	overflow-wrap: anywhere;
	word-break: normal;
	line-break: strict;
	font-size: calc(var(--base-size) * 1.1);
	line-height: calc(var(--body-line-height) * 1.08);

	&.index {
		display: grid;
		grid-template-areas: "header header" "main side" "under under";
		grid-template-rows: max-content 1fr auto;
		/* grid-template-columns: minmax(0, 1fr); */
		grid-template-columns: 1fr 50%;
		gap: 1rem;
		height: auto;

		.cover {
			grid-area: header;

			position: relative;
			width: 100%;
			aspect-ratio: 16/9;
			overflow: hidden;

			.text {
				display: block;
				position: absolute;
				font-size: calc((100 / 3.3) * 0.3075vw);
				line-height: 0.7;
				font-weight: 900;
				z-index: 10;
				transition: 0.4s;
				letter-spacing: -0.08em;
				width: 100%;

				&:first-of-type {
					top: 1rem;
					left: 1rem;
					mix-blend-mode: difference;
					color: #3b99d0;
				}

				&:last-of-type {
					bottom: 1rem;
					left: 1rem;
					mix-blend-mode: overlay;
					color: #ead09e;
				}
			}

			div {
				position: absolute;
				left: 0;
				transition: 0.6s cubic-bezier(0.9, 0, 0.1, 1);
				width: calc(100% + (var(--columns) - 0) * 1px);
				height: calc(100% + (var(--rows) - 1) * 1px);
				background-size: cover;
				background-position: 50% 50%;
			}

			nav {
				display: flex;
				align-items: center;
				height: 100%;
				transition: 1s;

				ul {
					font-size: 8vw;
					display: flex;
					justify-content: space-around;
					align-items: center;
					width: 100%;
					flex-flow: row wrap;

					li {
						line-height: 1.2;
					}
				}
			}

			&.active {
				div {
					&:nth-of-type(odd) {
						translate: 100%;
					}
					&:nth-of-type(even) {
						translate: -100%;
					}
				}

				.text {
					&:first-of-type {
						top: -100%;
						left: 1rem;
					}
					&:last-of-type {
						bottom: -100%;
						left: 1rem;
					}
				}

				nav {
					opacity: 1;
				}
			}

			&:not(.active) {
				div {
					&:nth-of-type(odd) {
						translate: 0;
					}
					&:nth-of-type(even) {
						translate: 0;
					}
				}
				nav {
					opacity: 0;
				}
			}
		}

		.info {
			grid-area: main;
			font-size: 0.9em;

			h2 {
				margin-top: 0;
				font-family: serif;
				font-weight: bolder;
				line-height: 1.1;
			}
		}

		aside {
			grid-area: side;

			h3 {
				margin: 0;
				padding: 0;
				border: 0;
				color: var(--text-red);
			}

			.wrapper {
				position: relative;
				padding: 0;
				/* max-height: 60vh; */
				min-height: calc(100% - 2rem);
				overflow: auto;
				border: 1px solid #666;
				border-width: 2px 0;

				table {
					position: absolute;
					list-style: none;
					padding: 0;
					margin: 0;
					font-size: 0.95em;

					.meta {
						width: 30%;
						font-size: 0.9em;
						color: #ccc;
						background-color: rgba(34, 39, 58, 0.9);
						line-height: 1.2;

						span {
							display: block;
						}
					}

					td {
						overflow-x: auto;
						font-size: 0.9em;
					}

					.title-link {
						display: block;
						padding: 12px 1em 10px;
						overflow-x: auto;
						scrollbar-width: thin;
						cursor: pointer;
					}

					.title {
						display: inline-block;
						min-width: max-content; /* 短い場合でも伸びる */
					}
				}
			}
		}

		.tag-cloud {
			grid-area: under;
			flex-flow: row wrap;
		}
	}

	:where(p):has(img) {
		padding: 0.5rem;
	}

	p {
		margin-bottom: 0;
		line-height: inherit;
		letter-spacing: 0.02em;

		& + p {
			margin-top: 2em;
		}

		& + :where(.ytp) {
			margin: 1rem 0;
		}

		br {
			margin-bottom: 0.5em;
		}

		img {
			display: block;
		}
	}

	picture {
		display: block;
		margin: 1rem 0;
	}

	hr {
		border: none;
		background: linear-gradient(to right, #ccc 0%, #ccc 100%);
		background-size: 100% 1px;
		background-position: center;
		background-repeat: no-repeat;
		height: 20px;
		margin: 4rem 0;
	}

	:where(h3, h4, h5) {
		/* font-size: 0.865rem; */
		letter-spacing: 0.025rem;
		line-height: 1.4;
		margin-top: 4rem;
		margin-bottom: 1rem;
		padding-bottom: 0.5em;
		border-bottom: solid 0.1rem rgba(84, 156, 168, 0.3);

		& + :where(h2, h3, h4, h5) {
			margin-top: 2rem;
		}
	}

	h2 {
		/* font-size: 1.8rem; */
		padding-bottom: 0.5rem;
		/*border-bottom: solid 0.1rem var(--transparency-1);*/
	}

	h4 {
		/* font-size: 1rem; */
		border: 0;

		&::before {
			content: "";
			background-color: #ccc;
			border: 4px solid #66d;
			margin-right: 1rem;
		}
	}

	& > :where(h2, h3, h4, h5):first-child {
		margin-top: 0;
	}

	a {
		text-decoration-color: var(--transparency-1);
		text-decoration-thickness: 0.15rem;
		text-underline-offset: 0.2rem;

		&[target="_blank"] {
			display: inline-flex;
			width: fit-content;
			margin: 0 0 0 2px;
		}
	}

	u {
		text-underline-offset: 4px;
		text-decoration-color: #f6339a;
		text-decoration-style: dashed;
	}

	s {
		a {
			text-decoration-color: var(--font-color);
			text-decoration: none;

			&:hover {
				text-decoration-color: var(--font-color);
				text-decoration: none;
			}
		}
	}

	:where(ul, ol) {
		/*font-size: 15px;*/
		margin-bottom: 1.7rem;
		padding: 0.5rem 0 0 1rem;

		li {
			margin: 1rem;
			margin-left: 0.5em;
			padding-left: 0.5em;
			line-height: 1.5;

			&::marker {
				color: var(--brand);
			}

			li {
				margin-bottom: 0.5rem;

				&:last-of-type {
					margin-bottom: 1.6rem;
				}
			}
		}

		li:last-of-type {
			margin-bottom: 0;
		}

		ul {
			margin: 0.5rem 0 0.5rem 1rem;
			padding: 0;
		}

		a {
			font-weight: 600;
			text-underline-offset: 0.25rem;
			text-decoration-thickness: 0.1rem;
		}
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	figure {
		margin: 4rem 0;

		img {
			width: 100%;
			height: auto;
			border: solid 0.1rem #222;
		}

		figcaption {
			/* font-size: 0.675em; */
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	blockquote {
		margin: 1.7rem 0 1.7rem 1rem;
		border-left: 5px solid var(--brand);
		padding: 1rem;
		line-height: 1.9;
		background-color: #031a3e;
		font-size: 0.9em;
	}

	table {
		table-layout: fixed;
		width: 100%;
		border-collapse: collapse;
		/*font-size: 16px;*/
		margin: 1rem 0;

		:where(th, td):not(:last-child) {
			border-right: 1px solid #225;
		}

		:where(th, td) {
			padding: 6px;
			border-bottom: 1px solid #225;
		}

		th {
			background-color: var(--th-background);
			border-bottom: 1.5px dashed #fff;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

.navigation {
	.checkbox {
		width: fit-content;
		height: auto;
		cursor: pointer;
		transition: 0.2s;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		transform-origin: top;

		input {
			appearance: none;
			display: none;
		}
	}
}

@media (width > 768px) {
	.navigation {
		.checkbox {
			display: none;
		}
	}

	.cover {
		nav {
			display: none;
		}
	}
}

@media (width <= 768px) {
	.header nav {
		ul {
			display: none;
		}
	}

	.cover {
		nav {
			ul {
				padding: 0;
			}
		}
	}

	.body-copy {
		&.index {
			aside {
				.wrapper {
					min-height: 500px;
				}
			}
		}
	}
}

/* page navi */
.body-copy {
	position: relative;

	.pageNavi {
		width: inherit;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		background-color: transparent;
		border-radius: 8px;
		margin: 5rem 0;

		a {
			position: relative;
			display: flex;
			align-items: center;
			text-decoration: none;

			color: var(--font-color);
			background-color: var(--th-background);
			font-size: 1rem;
			padding: 1rem;
			border-radius: 40px;
			transition:
				background-color 0.3s,
				transform 0.6s;

			&:hover {
				color: var(--background-color);
				background-color: #e0e0e0;
				border-radius: 10px;

				div {
					margin: 0 1rem;
					max-width: 300px;
				}
			}

			.icon {
				width: 32px;
				height: 32px;
				fill: #333;
			}

			.right {
				transform: rotate(180deg);
			}

			div {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 0;
				transition: max-width 0.3s;
			}
		}

		.prev {
			justify-content: flex-start;
		}
		.next {
			justify-content: flex-end;
		}
	}
}
@media (max-width: 768px) {
	.body-copy {
		.pageNavi {
			flex-direction: column;

			a {
				width: 100%;
				justify-content: center;
				margin-bottom: 0.5rem;

				div {
					max-width: 150px;
					margin: 0 0.5rem;
				}
			}
		}
		.prev,
		.next {
			justify-content: center;
		}
	}
}

.table-container {
	margin: 2rem 0 1rem;
	padding: 6px 0;
	overflow: auto;

	table {
		margin: 0;
		width: max-content;
		min-width: 100%;
		table-layout: initial;
		font-size: 16px;
	}

	&::after {
		content: "表が見切れている時はスクロール可能";
		font-size: 0.7em;
		color: #ffd700;
	}
}

.navigation {
	margin-left: -0.15rem;
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid 0.05rem var(--transparency-1);

	ul {
		list-style-type: none;
		padding: 0;
		display: flex;
		align-items: center;
		list-style: none;
		margin: 0;
		/* font-size: 0.85rem; */

		li {
			a {
				display: block;
				padding: 1rem 0.65rem;
				text-underline-offset: 0.3rem;
			}
		}
	}

	a {
		text-decoration-color: var(--transparency-1);
		text-decoration-thickness: 0.15rem;
		text-underline-offset: 0.2rem;
		font-weight: 600;
		text-decoration-color: var(--background-color);
	}
}

a:hover,
a.active {
	text-decoration-color: var(--brand);
}

ul.listing {
	list-style-type: none;
	padding: 0;

	li {
		padding: 0.5rem 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		&::after {
			content: "";
			width: 100%;
			margin: 2em 0 0 0;
			border-bottom: 1px solid rgb(21, 67, 81);
		}

		time {
			/* font-size: 0.65em; */
			white-space: nowrap;
			display: block;
			width: max-content;
		}

		.summary {
			color: #999;
		}
	}
}

.footer {
	/* font-size: 0.75rem; */
	margin-top: 3rem;
	margin-bottom: 1rem;
	border-top: solid 1px var(--transparency-1);
	padding: 1rem 0;

	ul {
		list-style-type: none;
		padding: 0;
	}

	.social-related {
		column-gap: 2rem;
		row-gap: 1rem;
	}

	.site-meta {
		display: grid;
		grid-template-columns: 1fr 33.3% 1fr;
		align-items: center;
		justify-items: center;

		ul {
			display: flex;
			align-items: center;
			list-style: none;
			padding: 0;
			margin: 0;
			flex-direction: row;

			li {
				padding: 0.25rem;

				&:first-of-type {
					padding-left: 0;
				}
			}
		}

		.site-meta {
			grid-column: 1/2;
		}
		.credit {
			display: flex;
			grid-column: 2/3;
			margin: 1rem 0;
		}
		.feedMeta {
			grid-column: 3/4;
			column-gap: 2rem;
			row-gap: 1rem;
		}
	}

	button {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		border: solid 0.1rem var(--transparency-1);
		background: none;
		padding: 0.5rem 0.5rem;
		display: none;
		align-items: center;
		cursor: pointer;
		margin: 3rem auto;

		svg {
			color: var(--font-color);
			fill: currentColor;

			&.sun:hover {
				color: orange;
			}
		}
	}
}

@media (width < 640px) {
	.footer {
		.site-meta {
			grid-template-columns: initial;
			grid-template-columns: 50% 50%;
			grid-template-rows: auto auto;

			.credit {
				grid-column: 1/-1;
				grid-row: 2/3;
			}

			.feedMeta {
				grid-column: 2/3;
			}
		}
	}
}

/*
 * Utility class to hide content visually while keeping it screen reader-accessible.
 * Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
 */

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

code {
	font-family: "Fragment Mono", monospace;
}

:not(pre) > code {
	font-size: 0.875em;
	margin: 0 4px;
	padding: 0.125em 0.4em 0.1em !important;
	background: var(--code-background) !important;
	color: var(--code-color);
	vertical-align: 1px;
	box-shadow: 0px 0px 2px hsl(216.6, 100%, 58.2%);
	border-radius: 0.1em;
}

pre code {
	font-size: 0.875em;
}

pre[class^="language-"] {
	overflow-x: auto;
	background: #262d3c !important;
	line-height: 1.2 !important;
	font-family: "Fragment mono", monospace !important;
	padding: 16px !important;
	margin: 2em 0;
}

code[class^="language-"] {
	font-family: inherit !important;
}

details {
	display: block !important;
	margin: 1rem auto;

	summary {
		cursor: pointer;
		padding: 0.5em 1em;
		line-height: 1.2;
		background-color: lab(34% -9 -25);

		&::after {
			content: "(クリックで開きます)";
			font-size: 0.75em;
		}

		& + div {
			margin-top: 1rem;
			background-color: hsla(0, 0%, 20%, 0.25);
			padding: 1rem;
		}
	}

	&::details-content {
		transition:
			height 0.4s,
			opacity 0.4s,
			content-visibility 0.4s allow-discrete;
		height: 0;
		opacity: 0;
	}

	&[open]::details-content {
		opacity: 1;
	}
}

@supports (interpolate-size: allow-keywords) {
	:root {
		interpolate-size: allow-keywords;
	}

	details[open]::details-content {
		height: auto;
	}
}

@supports not (interpolate-size: allow-keywords) {
	details[open]::details-content {
		height: max-content;
		max-height: 50vh;
		overflow-y: scroll;
	}
}

:is(.cat-blog, .cat-guitar) {
	a {
		width: 100%;
		color: inherit;
	}

	.title-meta {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: baseline;

		.title {
			font-size: 1.125rem;
			line-height: 1.2;
			width: auto;
			max-width: 60ch;
		}

		time {
			margin: 0.5rem 0;
		}
	}

	.summary {
		font-size: 0.875rem;
		font-weight: unset;
		opacity: 0.8;
	}

	h3 {
		color: var(--text-red);
	}
}

.header-meta {
	/* font-size: 0.65rem; */
	margin-top: 3rem;
}

.tags {
	display: flex;
	width: fit-content;
	margin-inline: auto;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;

	.tag {
		text-decoration: none;
		color: var(--font-color);
		background-color: var(--tag-background);
		border-radius: 4px;
		padding: 0 6px;
		cursor: pointer;
	}
}

#articleList-pagination {
	.pagination {
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		gap: 0.5rem;
		/* font-size: 14px; */

		li {
			margin-bottom: 0;
		}

		a[aria-current="page"] {
			color: var(--logo);
		}
	}

	button:is(.previous, .next) {
		width: 50px;
		padding: 4px 0;

		&[area-disabled="true"] {
			cursor: not-allowed;
		}
	}
}

ul.sns-share {
	display: none;
	flex-flow: row wrap;
	gap: 0 2rem;
	list-style: none;
	justify-content: center;
	margin: 6rem 0 3rem;
	padding: 0;
	align-items: center;
	position: relative;

	&.loaded {
		display: flex;
	}

	&::before {
		content: "Spread the word !!";
		position: absolute;
		transform: translateY(-200%);
		text-align: center;
		top: 0;
	}

	li {
		width: 48px;
		height: 48px;
		background-color: var(--font-color);
		border-radius: 50%;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		border: 3px solid #aaa;
		align-items: center;

		a {
			position: relative;
		}

		&:nth-child(n + 4) {
			a {
				display: block;
				top: -1px;
				left: -1px;
			}
		}

		&:nth-child(n + 5) {
			a {
				top: 1px;
			}
		}
	}

	a {
		display: flex;
	}

	svg {
		display: none;
		fill: var(--share-svg-color);
		width: 30px;
		height: 30px;
	}

	&.loaded {
		svg {
			display: block;
		}
		.icon_external-link {
			display: none;
		}
	}

	.facebook svg {
		width: 40px;
		aspect-ratio: 1 / 1;
	}

	.hatena svg {
		width: 28px;
		height: 28px;
	}

	.pocket svg {
		padding-top: 3px;
	}
}

/***************     youtube embed css     ******************
<div class = 'ytp'>https://youtu.be/xxxxxxxxxxx</div>
<div class = 'ytp'>https://www.youtube.com/watch?v=xxxxxxxxxxx</div>
<div class = 'ytp size-m f-right'>ADDRESS</div>
[option]
size-s: w 200px
size-m: w 400px
＊サイズ指定がない場合は100%表示(16:9になるようになってます)です&#12290;
f-right: サムネイルを右にして文字を回り込ませます
f-left: サムネイルを左にして文字を回り込ませます
＊回り込みをさせる場合はサイズ指定が必要です
＊フレームワークや構造によっては変わりますが、960pxぐらいを最大幅とした時に
半分より少し小さいぐらいを想定しています
************************************************************/
.ytp {
	margin-bottom: 1em;

	.wrapper {
		width: 100%;
		background-position: center center;
		background-size: cover;
		background-color: #000;
		position: relative;
	}

	.container {
		position: relative;
		display: block;
		height: 0;
		padding: 0 0 56.25%;
		overflow: hidden;
		width: 100%;
	}

	.inner {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}

	button {
		display: inline-block;
		margin-bottom: 20px;
		padding: 6px 12px;
		border: 1px solid #777;
		border-radius: 3px;
		background-color: #fff;
		color: #333;
		text-decoration: none;
		font-weight: bold;
		line-height: normal;
		cursor: pointer;
	}

	:is(.play-button, .play-button:focus, .play-button:hover) {
		mask-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='m9.5 16.5 7-4.5-7-4.5v9ZM12 22q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Zm0-2q3.35 0 5.675-2.325T20 12q0-3.35-2.325-5.675T12 4Q8.65 4 6.325 6.325T4 12q0 3.35 2.325 5.675T12 20Zm0-8Z'/></svg>");
		mask-position: center;
		mask-repeat: no-repeat;
		background: var(--brand);
		width: 6rem;
		height: 6rem;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		/*transform: translate(-50%,-50%);*/
		animation: heartbeat 1.5s infinite;
	}

	.title {
		display: inline-flex;
		margin: 0.25rem;
		color: var(--code-color);
		background-color: var(--background-color);
		padding: 0.25rem 0.5rem;
		border-radius: 4px;
		position: absolute;
		top: 0;
		left: 0;
		line-height: 1.2;
		font-size: 14px;
	}

	&.mv_hidden {
		display: none;
	}
	&.size-s {
		width: 200px;
		height: 113px;
	}
	&.size-m {
		width: 400px;
		height: 225px;
	}
	&.right {
		margin-left: auto;
	}
	&.left {
		margin-right: auto;
	}
	&.center {
		margin-left: auto;
		margin-right: auto;
	}
	&.f-right {
		float: right;
		margin-left: 10px;
	}
	&.f-left {
		float: left;
		margin-right: 10px;
	}
}

.ytgrid {
	margin: 1rem 0;
	gap: 0;
	row-gap: 0.5rem;

	div {
		margin: 0;
	}
}

@media (width > 768px) {
	.ytgrid {
		row-gap: 0;
		gap: 0.5rem;
	}
}

.mv_hidden {
	display: none;
}

@media screen and (max-width: 42.5em) {
	.ytp.size-s,
	.ytp.size-m {
		width: 100%;
		height: auto;
	}
	.ytp.f-left,
	.ytp.f-right {
		float: none;
		margin: unset;
	}
}

@media (width < 640px) {
	.ytp {
		.title {
			font-size: 1rem;
		}
	}
}

@keyframes heartbeat {
	0% {
		transform: translate(-50%, -50%) scale(0.8);
	}
	5% {
		transform: translate(-50%, -50%) scale(0.9);
	}
	10% {
		transform: translate(-50%, -50%) scale(0.8);
	}
	15% {
		transform: translate(-50%, -50%) scale(1);
	}
	50% {
		transform: translate(-50%, -50%) scale(0.8);
	}
	100% {
		transform: translate(-50%, -50%) scale(0.8);
	}
}

.f-img {
	display: inline-flex;
	color: var(--brand);
	align-items: center;
	cursor: pointer;

	&::before,
	&::after {
		margin: 0 2px;
	}

	&::before {
		content: "[";
	}

	&::after {
		content: "]";
	}

	&.intersection {
		animation: filterblink 1s forwards;
		animation-iteration-count: 3;
		line-height: 1.4;
	}
}

@keyframes filterblink {
	0% {
		filter: hue-rotate(0deg);
	}
	25% {
		filter: hue-rotate(90deg);
	}
	50% {
		filter: hue-rotate(180deg);
	}
	75% {
		filter: hue-rotate(270deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

.ref-container {
	position: fixed;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background-color: #151c2bf7;
	border-bottom: 1px dotted #fff;
	z-index: 10;
	transform: translateY(-100%);
	transition: 0.4s;

	&.active {
		transform: translateY(0);
	}

	&::before {
		content: "Click / tap anywhere on this displayed container to close it.";
		position: absolute;
		bottom: 0.5rem;
		left: 0.5rem;
		color: var(--font-color);
		font-size: 0.75rem;
		mix-blend-mode: difference;
	}
}

.modal {
	position: fixed;
	display: none;
	background-color: #03314df7;
	place-content: center;
	width: 0;
	height: 0;
	transform: scale(0);
	transform-origin: center;
	align-items: center;
	justify-content: center;
	cursor: zoom-out;

	img {
		width: 0;
		height: 0;
	}

	&.open {
		display: flex;
		animation: openAnimation 1s forwards;

		img {
			width: 80%;
			height: auto;
		}
	}

	&.close {
		display: flex;
		animation: closeAnimation 1s backwards;

		img {
			width: 100%;
			height: auto;
			opacity: 0.5;
		}
	}

	.modal-close {
		position: absolute;
		top: 1rem;
		left: 1rem;
		width: 1rem;
		height: 1rem;
		cursor: zoom-out;
	}
}

@keyframes openAnimation {
	0% {
		width: 0;
		height: 0;
		opacity: 0;
		transform: scale(0);
	}
	50% {
		width: 100%;
		height: 100%;
		opacity: 1;
		transform: scale(1.2); /* 一旦大きくする */
		top: 0%;
		left: 0%;
	}
	100% {
		width: 100%;
		height: 100%;
		opacity: 1;
		transform: scale(1); /* 元のサイズに戻す */
		top: 0;
		left: 0;
	}
}

@keyframes closeAnimation {
	0% {
		width: 100%;
		height: 100%;
		opacity: 1;
		transform: scale(1);
		top: 0;
		left: 0;
	}
	50% {
		width: 100%;
		height: 100%;
		opacity: 1;
		transform: scale(1.2); /* 一旦大きくする */
		top: 0;
		left: 0;
	}
	100% {
		width: 0;
		height: 0;
		opacity: 0;
		transform: scale(0);
	}
}

.sidebar {
	grid-area: side;
	position: relative;

	.tocThumb {
		/*section*/
		position: relative;
		transition: 0.6s;
		position: sticky;
		top: 1rem;

		& > div {
			margin-bottom: 2rem;
		}
	}

	.thumbnails {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		gap: 0.25rem;

		h5 {
			width: 100%;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.thumb {
		display: block;
		width: 24%;
		aspect-ratio: 1 / 1;
		overflow: hidden;
		filter: grayscale(100%);
		cursor: zoom-in;
		transition: 0.6s;

		&:hover {
			filter: grayscale(0);
		}
	}

	.highlight {
		border-color: #dc3545;
		border: 3px solid;
		filter: grayscale(0);
		animation: blink 0.8s infinite;
		transition: 0.6s;
	}
}

.panel-switch {
	transform: translateX(-150%);
}

@keyframes blink {
	0% {
		border-color: #dc3545;
	}
	50% {
		border-color: transparent;
	}
	100% {
		border-color: #dc3545;
	}
}

/* footnote */

.footnote {
	color: var(--background-color);
	cursor: pointer;
	height: 0.9375rem;
	width: fit-content;
	display: inline-flex;
	background-color: var(--link-color);
	padding: 2px 3px 2px 3px;
	border-radius: 2px;
	justify-content: center;
	align-items: center;
	margin: 0 2px 0 2px;
	min-width: 0.85rem;

	span {
		font-size: 0.75rem;
	}
}

.footnotes-list {
	/* font-size: .8125rem; */
	position: relative;
	margin: 5rem 0 0;

	&::before {
		content: "FOOTNOTES: ";
		font-size: 0.75rem;
		color: #fff;
		background: var(--muted);
		border-radius: 0 6px 0 0;
		padding: 4px 0;
	}

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		top: 1.75rem;
		border: 1px solid var(--muted);
	}

	&:empty {
		display: none;
	}

	.foot {
		display: grid;
		grid-template-columns: 2rem 1fr;
		margin: 0.5rem 0 0;
	}

	span {
		color: var(--link-color);
		cursor: pointer;
		line-height: 1.5;
		font-size: 0.875rem;
	}
}

@media (width > 640px) {
	.footnotes-list {
		&::before {
			content: "FOOTNOTES | 脚注  -  該当の脚注をクリック/タップで元の位置に戻ります";
		}
	}
}

.footnoteblink {
	animation: blinker 2s linear 1;
}

@keyframes blinker {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.tocThumb {
	height: 100%;
	max-height: 100vh;
	overflow-y: auto;
}

.toc {
	grid-area: side;
	font-size: 1rem;
	line-height: 1.2;

	&::before {
		content: "TOC table of Content";
	}

	:where(.level-1, .level-2) {
		padding-left: 0;
	}

	.level-3 {
		padding-left: 1rem;
	}

	.level-4 {
		padding-left: 2rem;
	}

	.level-5 {
		padding-left: 3rem;
	}

	.level-6 {
		padding-left: 4rem;
	}

	.toc_sitetitle {
		margin-top: 1rem;
		cursor: pointer;
	}

	.toc_menu {
		font-size: 0.875em;

		div {
			margin-top: 1rem;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
				text-decoration-color: #fd22a7;
				text-underline-offset: 4px;
				text-decoration-style: dotted;
				color: #fd22a7;
			}
		}

		.active {
			color: #fff;
			text-shadow:
				-2px -1px 10px #6142f4,
				-2px 1px 10px #6142f4,
				2px -1px 10px #6142f4,
				2px 1px 10px #6142f4;
			transition: 0.4s;
			font-weight: 700;

			&:hover {
				color: #fff;
				filter: hue-rotate(295deg);
			}
		}
	}
}

@media (width > 1024px) {
	main.container {
		max-width: 1200px;
	}
}

@media (width < 1024px) {
	main.container {
		grid-template-columns: 768px;
		grid-template-areas:
			"header"
			"main";
		margin-inline: auto;
		justify-content: center;
	}

	.sidebar {
		position: fixed;
		top: 0;
		left: 100%;
		width: 70%;
		height: 100%;
		transform: translate(0%, 0);
		background-color: var(--background-color);
		transition: 0.4s;

		&.active {
			transform: translate(-100%, 0);
		}
	}
}

.cover {
	container-type: inline-size;
	container-name: cover;
}

@container cover (width < 768px) {
	.catchcopy {
		div {
			font-size: 0.75em;
		}
	}
}

@media (width < 768px) {
	main.container {
		/*grid-template-columns: repeat(1,minmax(0, 1fr));*/
		grid-template-columns: minmax(0, 1fr);
		width: 100%;
	}
}

@media (width < 768px) {
	.navigation ul {
		display: none;
	}

	.body-copy.index {
		grid-template-areas:
			"header"
			"main"
			"side"
			"under";
		grid-template-rows: max-content 1fr auto auto;
		width: 100vw;
		grid-template-columns: minmax(0, 1fr);

		.cover {
			aspect-ratio: 4/3;
			transition: all 0.4s;

			.catchcopy div {
				font-size: 3em;
			}

			div {
				width: 100%;
			}

			nav.navigation {
				width: 100%;
				ul {
					width: 100%;
					max-width: 100vw;
				}
			}
		}
	}

	aside {
		width: 100%;
		max-width: 100vw;

		ul {
			width: 100%;
		}
	}

	.tag-cloud {
		max-width: 100vw;
	}

	footer {
		width: 100vw;
		ul {
			flex-flow: column wrap;
		}
	}
}
