---
layout: base.njk
title: BlazeChariot
category: home
---

<section class="body-copy index">
	<div class="cover relative">
		<span class="text">Every discovery is a journey fulfilled—its value, yours to define.</span>
		<span class="text">Will you keep it to yourself or share its wonder with the world?</span>
		
		<nav class="navigation" aria-labelledby="primary-navigation">
		<ul>
			<li><a href="/" class="{{ 'active' if '/' === page.url }}">Home</a></li>
			<li><a href="/blog/" class="{{ 'active' if '/blog' in page.url }}">Blog</a></li>
			<li><a href="/guitar/" class="{{ 'active' if '/guitar' in page.url }}">ギターを弾き語れ！</a></li>
			<li><a href="/now/" class="{{ 'active' if '/now' in page.url }}">Now</a></li>
			<li><a href="/about/" class="{{ 'active' if '/about' in page.url }}">About</a></li>
		</ul>
	</nav>
	</div>

	<div class="info">
		<h2>Every discovery is a journey fulfilled—its value, yours to define.<br/>Will you keep it to yourself or share its wonder with the world?</h2>
		<p>見つかった宝物はあなたにとってとても価値あるものかも知れないし全く価値のないものかも知れない。しかし、ここにたどり着けたことは間違いのない事実だ。<br/>
あなたには価値がなくても他人には価値あるものかも知れない。あなたがそれを自分だけのものにするか他人にも与えるかで全く違う姿を見せる。あなたはどちらを選ぶだろうか？</p>
		<hr class="mb-[1rem]" />
		<p>こちらのサイトでは、blogが2つあります。<br><a href="./blog/" alt="blogカテゴリのリンク">blog</a>は日常的なことやjavascript、linux、諸々を書いた記事です。<br/>
		<a href="./guitar/" alt="guitarカテゴリのリンク">guitar</a>は「<b>ギターを弾き語れ！</b>」と言うサイトをかねてよりやっており、それらの記事を2025年に修正したり、こちらのサイト形式に合うように改良したりしたものです。</p>
	</div>
	<aside>
		<h3>New Arrivals</h3>
		<div class="wrapper">
			{#% set items = getData("all", 5) %#}
			<ul>
			{% for item in collections.latestPosts %}
				<li>
					<div class="meta">
						<span class="category">[{{ item.data.category }}]</span>
						<span class="date">{{ item.date | shortDateString }}</span>
					</div>
					<a href="{{ item.url }}" class="title-link" alt="{{ item.data.title }}へのリンク" title="{{ item.data.title }}">
						<span class="title">{{ item.data.title }}</span>
					</a>
					</li>
			{% endfor %}
			</ul>
		</div>
	</aside>
	
	<div class="tag-cloud w-full flex">
	{% for tag in collections.allTags %}
		<div class="tag m-[.6rem]  rounded-full border border-sky-100 bg-sky-50 px-2 py-0.5 text-xs text-center dark:text-sky-300 dark:border-sky-500/15 dark:bg-sky-500/10"><a href="/tags/{{ tag | urlencode }}">{{ tag }}</a></div>
	{% endfor %}
	</div>
</section>
